div {
    border-radius: 10px 20px 30px 40px;
  }

li{
    list-style: none
}

.navbar-brand {
    background: url("/images/SobacchiPose9.jpg") no-repeat left center;
    background-size: contain;
    height: 50px;
    width: 250px;
  }
    p{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        padding:0;
        margin:0;
        font-size:30px;
        color: #CFB997;
    }


img{
    max-width: 100%;
    height: auto;
}

.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
  }

