.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background: linear-gradient(-45deg, rgba(221, 224, 138, 0.8), rgba(164, 220, 121, 0.8)) fixed, url("../images/kanko2.jpg") fixed;
    border-radius: 50%;
    width: 230px;
    height: 230px;
    color: #fff;
    font-size: 80px;
    margin-left: 50px;
  }
.minititle{
    font-size: 20px;
}
body{
    background-image: url("../images/back.png");
    background-size: cover;
}

.setumei{
    text-align: center;
    margin-top: -60px;
}
.subtitle{
    font-size: 20px;
    font-weight: bold;
}

table {

    width: 90%;
    height: 850px;
    margin-left: auto;
    margin-right: auto;
}
td {
    text-align: center;

}


h1 {
    padding: 0.5em;/*文字周りの余白*/
    color: #494949;/*文字色*/
    background: #fffaf4;/*背景色*/
    border-left: solid 5px #ffaf58;/*左線（実線 太さ 色）*/
  }


  


      